<!DOCTYPE html>
<html>
<head>
  <style>
    input[type=text], input[type=number]{
      width: 25%;
      padding: 5px 15px;
      margin: auto;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
 
  input[type=submit]{
      width: 10%;
      padding: 5px 15px;
      margin: auto;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      vertical-align: middle;
                border: burlywood;
                border-radius: 4px;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 10px 10px;
                cursor: pointer;
                width: 25%;
                background-color: #04AA6D;
    }

  form{
      width: 250 px;
      margin:0 auto;
    }
  
  body {
    background-image: url('/images/Covid.jpg');
    background-repeat: no-repeat;
    background-size: cover;
       }
  </style>
  <script type="text/javascript" src="/validation/covid.js"></script>
</head>


<body align = 'center'>
<form action='/covidRegistration' method="POST" onsubmit="return validateFields()" >
  <div style="border: solid;width:900px;background-color:powderblue;opacity: 0.6;margin-left: 220px;height:900px;margin-top: 40px;">
    <h2 style="font-size:250%;margin-top: 60px;">FAQ(frequently Asked Questions)</h2><br>
    <hr style="height:2px;border-width:1;color:blue;background-color:green;width:90%">
  <div style="margin-top: 40px;">
    <table>
      <tr>
	  
      
<th style="font-size:150%;">1. What is Covid 19?

</th>
     </tr>
	 <tr>
<th>
- COVID-19 is an infectious disease caused by a corona virus that was just discovered recently. Before the outbreak in Wuhan, China, in December of 2019, 
no one had heard of this new virus or disease.
  
</th>
     </tr>
	 <tr>
<th style="font-size:150%;">
<hr style="height:0.5px;border-width:1;color:blue;background-color:Red;width:70%">
2.What are the most common symptoms of the coronavirus disease?
</th>
     </tr>
	 <tr>
<th>
- The most common symptoms of COVID-19 are fever,tiredness and dry cough,. 
different symptoms that are less common and should have an effect on some patients embrace loss of style or smell,
 aches and pains,nasal congestion, headache, sore  throat , diarrhoea, red eyes or a skin rash.
 </th>
 </tr>
 <tr>
 <th style="font-size:150%;">
 <hr style="height:0.5px;border-width:1;color:blue;background-color:red;width:70%">
3.What precaution need to be taken?
</th>
     </tr>
	 <tr>
<th>
-(a). Regularly wash your hands with alcohol based hand sanatizer.
</th>
     </tr>
	 <tr>
<th>
(b). Whenever someone is coughing or sneezing, maintain a distance of at least one metre (three feet).
</th>
     </tr>
	 <tr>
<th>
(c). Avoid putting your hands near your face, especially your eyes, nose, and mouth.
</th>
     </tr>
	 <tr>
<th>
(d). Always wear a face mask when you are at public places.
</th>
     </tr>
	 <tr>
<th>
(e). if you have any symptoms please go for the covid 19 test.
 </th>
 </tr>
 <tr>
 <th style="font-size:150%;">
 <hr style="height:0.5px;border-width:1;color:blue;background-color:red;width:70%">
4.Action need to be taken after you had covid?
</th>
     </tr>
	 <tr>
<th>
- To reduce the chance of getting a more serious infection, and tell your doctor about any recent travels you've done.
Take treatment from nearest covid care ASAP.
  </th>
 </tr>
 <tr>
 <th style="font-size:150%;">
 <hr style="height:0.5px;border-width:1;color:blue;background-color:red;width:70%">
5.How long is the incubation period for COVID-19?
</th>
     </tr>
	 <tr>
<th>
- COVID-19 incubation times have been estimated to be anywhere between one and fourteen days, with the majority of estimates placing it at around five days.
  </th>
 </tr>
 <tr>
 <th style="font-size:150%;">
 <hr style="height:0.5px;border-width:1;color:blue;background-color:red;width:70%">
6.Where can I get the vaccine from?
</th>
     </tr>
	 <tr>
<th>
- Vaccine is safe and Vaccines are available from Government and Private Health Facilities as notified, known as COVID Vaccination Centres (CVCs).
 </th>
      </tr>
	  
    </table>
  

</form>
</body>
</html>

